<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>학생 정보 입력</title>
        <link rel="stylesheet" href="/static/css/addstudent.css" />
    </head>
    <body>
        <a>
        <h1>Add Student</h1>
        <form method="post" action="{% url 'addstudent' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="submit" type="submit">Submit</button>
        </form>
        <button class="main_page" type="button">
            <a href="{% url 'mainpage' %}" class="font_color">메인페이지</a>
        </button>
    </body>
</html>