{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>출석자 조히</title>
    <link rel="stylesheet" href="{% static 'css/login-page.css' %}" />
    
  </head>

  <body>
    <main id="main-holder">
      <h1 id="login-header">출석자 조회</h1>
      <img
        src="{% static 'images/grt_logo.jpg' %}"
        alt="guarantee"
        style="width: 200px; height: 150px"
      />

    {% csrf_token %}
    <input type="text" id="meeting_num" placeholder="meeting_num">
    <input type="submit" value="Check" id="meeting_submit" >
    <div id="participant-list">
    </div>
    </main>
    <script src="../static/js/checkattendance.js"></script>
  </body>
</html>
