<!-- {% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>출석자 조회</title>    
  </head>

  <body>
    <main id="main-holder">
      <h1 id="meeting-header">출석자 조회</h1>
      <a href="{% url 'mainpage' %}">메인페이지</a>
      <form id="meeting_form" method="get" action="{% url 'checkattendance' %}">
        {% comment %} {% csrf_token %} {% endcomment %}
        {{ form.as_p }}
        <button type="submit" id="meeting_submit">검색</button>
      </form>
    </main>
    <div id="participant-list">
      {% for absent in absents %}
        <li>{{ absent.name }} - {{ absent.email }} - {{ absent.phone_num }}
      {% endfor%}
    </div>
    {% comment %} <script src="../static/js/checkattendance.js"></script> {% endcomment %}
  </body>
</html> -->

{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/checkattendance.css" />
    <title>출석자 조회</title>
  </head>

  <body>
    <main id="main-holder">
      <header>
      <h1 id="meeting-header">출석자 조회</h1>
      <nav id="main_page">
        <a href="{% url 'mainpage' %}" id="font_color">메인페이지</a>
      </nav>
      </header>
      <h2 id="clock" style="color: white; background: #205e44">clock</h2>

      <script>
        var Target = document.getElementById("clock");
        function clock() {
          var time = new Date();

          var month = time.getMonth();
          var date = time.getDate();
          var day = time.getDay();
          var week = ["일", "월", "화", "수", "목", "금", "토"];

          var hours = time.getHours();
          var minutes = time.getMinutes();
          var seconds = time.getSeconds();

          Target.innerText =
            `${month + 1}월 ${date}일 ${week[day]}요일 ` +
            `${hours < 10 ? `0${hours}` : hours}:${
              minutes < 10 ? `0${minutes}` : minutes
            }:${seconds < 10 ? `0${seconds}` : seconds}`;
        }
        clock();
        setInterval(clock, 1000); // 1초마다 실행
      </script>
    
      <form id="meeting_form" method="get" action="{% url 'checkattendance' %}">
        {% comment %} {% csrf_token %} {% endcomment %} {{ form.as_p }}
        <button type="submit" id="meeting_submit">검색</button>
      </form>

      
    </main>
    <div id="participant-list">
      {% for absent in absents %} {{ absent.name }} - {{ absent.email }} - {{
      absent.phone_num }} {% endfor%}
   

    {% comment %}
    <script src="../static/js/checkattendance.js"></script>
    {% endcomment %}
  </body>
</html>
