{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/main-page.css' %}" />
    <script defer src="{% static 'js/main-page.js' %}"></script>
  </head>

  <body>
    <main>
        <div class="container">
            <h1>Welcome to the Main Page</h1>
            <button class="button" id="loginButton">Login</button>
            <button class="button" id="studentInfoButton">Enter Student Info</button>
            <button class="button" id="attendanceCheckButton">Check Attendance</button>
        </div>
    </main>
  </body>
</html>
