<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학생 관리 시스템</title>
</head>
<body>
    <h1>학생 관리 시스템 메인 페이지</h1>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="#" onclick="sendRequest('grt/auth/logout');">로그아웃</a></li>
        {% else %}
        <li><a href="#" onclick="sendRequest('grt/login');">로그인</a></li>
        {% endif %}
        <li><a href="#" onclick="sendRequest('grt/student_info');">학생 정보 입력</a></li>
        <li><a href="#" onclick="sendRequest('grt/attendance');">학생 출결 확인</a></li>
    </ul>

    <script src="../static/js/main.js"></script>
</body>
</html>
