h1 {
  width: 100%;
  height: 100px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0.5rem;
  padding: 0px;
}

.logo {
  display: inline-block;
  margin-left: 20px;
}

#log_out {
  display: inline-block;
  /* vertical-align: middle; */
  display: block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: teal;
  height: 5%;
  width: 8%;
  margin-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #205e44;
  /* padding: 20px; */
}

button {
  margin: 20px;
}

.logout {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #205e44;
  color: #1e6b7b;
  flex-basis: 25%;
}

.logout_font {
  color: aliceblue;
  font-size: 10px;
}

.student_info {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #205e44;
  color: #1e6b7b;
  width: 30%;
  box-sizing: border-box;
  flex: 1;
  height: 150px;
}

a {
  color: aliceblue;
  font-size: 20pt;
}

.student_check {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #205e44;
  color: #1e6b7b;
  flex: 1;
  width: 30%;
  box-sizing: border-box;
}

.student_attend {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #205e44;
  color: #1e6b7b;
  flex: 1;
  width: 30%;
  box-sizing: border-box;
}

.student_list {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #205e44;
  color: #1e6b7b;
  flex: 1;
}
/* 
.now_time {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #205e44;
  color: #1e6b7b;
} */

.login {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: white;
  color: #1e6b7b;
  font-size: small;
}

#login-font {
  font-size: small;
}
.box {
  width: 90%;
  margin: 10px auto;
  display: flex;
  height: 100%;
}

#log_in {
  display: inline-block;
  /* vertical-align: middle; */
  display: block;
  text-align: center;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: teal;
  height: 5%;
  width: 8%;
  margin-right: 20px;
}

#clock {
  background-color: #205e44;
  margin: 0px;
}
